@import url('../../colors.css');

.pokemon-item-wrapper{
    display: flex;
    flex-direction: column;
    gap: 5px;
    width: 180px;
}

.pokemon-img-wrapper{
    width: 180px;
    height: 180px;
    background-color: lightgray;
    border-radius: 10px;
}

.pokemon-number{
    font-size: 12px;
    color: gray;
}

.pokemon-name{
    font-size: 18px;
    font-weight: 700;
}

.pokemon-typing{
    display: flex;
    flex-direction: row;
    gap: 10px;
}

.pokemon-typing-item{
    width: 85px;
    text-align: center;
    background-color: lightgray;
    border-radius: 5px;
}

#normal{
    background-color: var(--normal_type_color);
}

#fighting{
    background-color: var(--fighting_type_color);
}

#flying{
    background-color: var(--flying_type_color);
}

#poison{
    background-color: var(--poison_type_color);
}

#ground{
    background-color: var(--ground_type_color);
}

#rock{
    background-color: var(--rock_type_color);
}

#bug{
    background-color: var(--bug_type_color);
}

#ghost{
    background-color: var(--ghost_type_color);
}

#steel{
    background-color: var(--steel_type_color);
}

#fire{
    background-color: var(--fire_type_color);
}

#water{
    background-color: var(--water_type_color);
}

#grass{
    background-color: var(--grass_type_color);
}

#electric{
    background-color: var(--electric_type_color);
}

#psychic{
    background-color: var(--psychic_type_color);
}

#ice{
    background-color: var(--ice_type_color);
}

#dragon{
    background-color: var(--dragon_type_color);
}

#dark{
    background-color: var(--dark_type_color);
}

#fairy{
    background-color: var(--fairy_type_color);
}