@import url('../../colors.css');

.stats-bar-wrapper{
    display: flex;
    flex-direction: row;
    width: 100%;
}

.value-wrapper{
    display: flex;
    flex-direction: row;
    justify-content:space-between;
    width: 20%;
    padding: 4px;
}

.value-bar-wrapper{
    width: 80%;
    display: flex;
    align-items: center;
}

.full-bar{
    background-color: lightcyan;
    width: 100%;
    height: 80%;
    margin-right: 10px;
    margin-left: 10px;
    border-radius: 10px;
    display: flex;
    align-items: center;
}

.content-bar{
    background-color: cyan;
    height: 100%;
    border-radius: 10px;
}