.pokemon-moves-wrapper {
    background-color: var(--secondary);
    border-radius: 8px;
    padding: 5px;
    height: 100%;
}

.pokemon-moves-title {
    font-size: 24px;
}

.pokemon-moves-container {
    height: 125px;
    display: flex;
    flex-direction: column;
    gap: 5px;
    overflow-y: auto; /* Adiciona uma barra de rolagem vertical quando necessário */
}

.move-power-info{
    display: flex;
    flex-direction: row;
    gap: 10px;
}